html, body {
    background: url(../img/bg.png);
    color: #666;
    font-weight: 100;
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0px;
    padding: 0;
}

.center {
    margin: 0px auto;
    text-align: center;
}

@media all and (min-width: 1001px) {
  #commandLine {
    font-size: 170px;
  }

  #more {
    display: none;
  }
  .level1 {
    display: inline;
  }
    h1{
    font-size: 40px;
    }
    .center {
        width: 950px;
        font-size: 20px;
    }
    .project {
        width: 700px;
    }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #commandLine {
    font-size: 135px;
  }

  #more {
    display: inline;
  }
  .level1 {
    display: none;
  }
    h1{
    font-size: 30px;
    }
        .center {
        width: 680px;
        font-size: 18px;

    }
        .project {
        width: 650px;
    }

}

@media all and (max-width: 699px) and (min-width: 520px) {
  #commandLine {
    font-size: 100px;
  }
  #more {
    display: inline;
  }
  .level1 {
    display: none;
  }
  h1{
    font-size: 20px;
    }
        .center {
        width: 500px;
        font-size: 16px;
    }
            .project {
        width: 470px;
    }
}

.gbma {
    position: relative;
    top: -1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: #c0c0c0;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 3px 3px 0;
    padding-top: 1px;
    left: 4px;
}

#commandLine {
    font-weight: bold;
    font-family: 'Roboto';
    border: none;
    background-color: transparent;
}

.connect-bar {
    height:20px;
    padding: 12px 5px 0px 10px;
    background: #000;
}

.connect-bar ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.connect-bar > ol > li {
    float:left;
    margin: 0;
    padding:0;
}

#connect-more-list {
    background-color: #000;
    width: 215px;
    height: 50px;
    top: 30px;
    padding: 12px 0px 0px 5px;
    position: absolute;
    display: none;
}
h1{
    font-weight: 100;
    margin: 0px;
}
h3{
    font-weight: 100;
}
#connect-more-list > ol > li {
    display: block;
    height: 25px;
}



.connect {
    padding: 8px 5px 3px 30px;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    text-decoration: none;
    color: #aaa;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  
    -moz-filter: grayscale(100%);  
    -o-filter: grayscale(100%); 
    background: url(../img/icons/icon-sprite.png) no-repeat;
    height: 24px;
}


.divider {
    background: url(../img/big-blue-divider-hi.png) no-repeat center;
    display:block;
    width: 100%;
    height: 63px;
    margin: 20px 0;
}

.connect.more {
    padding: 10px 5px 5px 15px;
}

    .connect:hover {
        color: #34B4E3;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);  
        -moz-filter: grayscale(0%);  
        -o-filter: grayscale(0%);  
    }

    .connect.youtube {
        background-position: 0 -24px;
    }

    .connect.google {
        background-position: 0 -96px;
    }

    .connect.twitter {
        background-position: 0 -48px;
    }
    .connect.blogger {
        background-position: 0 -144px;
    }

    .connect.github {
        background-position: 0 -120px;
    }

    .connect.stackoverflow {
        background-position: 0 0;
    }

    .connect.linkedin {
        background-position: 0 -72px;
    }

#project {
    background-color: rgba(0,0,0,0.1);
    width:100%;
    height: 100px;
    padding: 5px;
}

.project {
    margin: 10px auto;
    font-size: 15px;
    vertical-align: bottom;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px;
    color: #aaa;
    display:block;
    height: 100px;
}


.project a {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    display:block;
    float:left;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.project a.fade {
    opacity:0.2;
    filter:alpha(opacity=20); /* For IE8 and earlier */
}

footer {
    margin: 20px;
    text-align: right;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-webfont.eot');
    src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'), url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'), url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'), url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'), url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('../fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
