@{
    ViewBag.Title = "About";
    ViewBag.AboutActive = "active";
}

I'm <strong>Luuk Sommers</strong> and I've been a <strong>Developer</strong> for more than 12 years. 
You can see my work in the <strong>projects</strong> section. I have a <strong>hi-tech</strong> home office in <strong>Arnhem</strong>.

<p>My current development machine is a <strong>Core i7 3770K</strong> with <strong>16GB memory</strong> and <strong>dual monitor</strong> setup.<br />
I type on a <strong>das keyboard</strong> (with most of my fingers ;)) while sitting on a <strong>Humanscale Freedom Chair</strong>.</p>

<p>In my spare time I like to listen to <strong>music</strong> and read <strong>books</strong>.</p>

<div id="imagescroll">
    <img src="~/Images/about/IMG_3530.JPG?height=100" data-text="Kopenhagen nice as always" style="display:none" onload="$(this).fadeIn();" />
    <img src="~/Images/about/IMG_3201.JPG?height=100" data-text="Cold in Apeldoorn" style="display:none" onload="$(this).fadeIn();"/>
    <img src="~/Images/about/IMG_3465.JPG?height=100" data-text="I love the cookies my girlfriend bakes" style="display:none" onload="$(this).fadeIn();" />
    <img src="~/Images/about/IMG_3663.JPG?height=100" data-text="I said I loooooooove music" style="display:none" onload="$(this).fadeIn();" />
</div>
<div id="imagedescription">
</div>