@{
    ViewBag.Title = "Connect";
    ViewBag.ConnectActive = "active";
}

You can connect with me with one of the following:<br />
<a class="follow google" href="https://plus.google.com/115803110558966062326">Google+</a>
<a class="follow linkedin" href="http://nl.linkedin.com/in/luuksommers">Linked In</a>
<a class="follow stackoverflow" href="http://careers.stackoverflow.com/luuksommers">Stack Overflow Careers</a>
<a class="follow blogger" href="http://sameproblemmorecode.blogspot.nl/">Same problem, more code blog</a>
<a class="follow github" href="https://github.com/luuksommers">GitHub</a>
<a class="follow youtube" href="http://www.youtube.com/digitalhardc0r3">YouTube</a>
<a class="follow steam" href="http://steamcommunity.com/id/digitalhardc0r3">Steam</a>
