@{
    ViewBag.Title = "Home Page";
}

Y U don't want to know my name?
<p><span style="font-size:50px;">LUUK SOMMERS</span></p>
I don't always sit behind a computerscreen, but when I do
<p><span style="font-size:50px;">I DEVELOP WEB APPLICATIONS</span></p>
If you work with me,
<p><span style="font-size:50px;">YOU'RE GONNA HAVE A GOOD TIME</span></p>

